*.egg-info
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env

.python-version
.vscode
poetry.lock
uv.lock

notebooks/

TODO.md

# For publication
.tox/
dist/

docs/.quarto/
docs/_site/
.coverage/.coverage
.hypothesis
